<% include partial/header.ejs %>
<h1>This page wil tell you something about my Grandmother.</h1>
<div>
    <p> My grandma is very devoted person. She is a widow. She is very sweet and kind hearted.
    </p>
</div>
<% include partial/footer.ejs%>