<% include partial/header.ejs %>
<h1>This page wil tell you something about my Dad.</h1>
    <div>
        <p> My Dad is a pure hearted person and a businessman. He is my idol.
            He is a generator mechanic. He repairs and built new electricity generators and water pumps.
            He has a really strong will power and great motivation towards whatever he does. He is my father but our relationship is more like best
            friends.
        </p>
    </div>
<% include partial/footer.ejs%>