<% include partial/header.ejs %>
<h1>This page wil tell you something about my Dad.</h1>
<div>
    <p> Well what to say about me. I m here in Canada studying computer programmer diploma at Georgian College. I am working part time
        at Transcom Worldwide, which is a call center.
    </p>
</div>
<% include partial/footer.ejs%>