<% include partial/header.ejs %>
<h1>This page wil tell you something about my Sis.</h1>
<div>
    <p> My sister is four years younger than me. She is in 10th standard but always tries to act mature.
        I really love her.
    </p>
</div>
<% include partial/footer.ejs%>