<% include partial/header.ejs %>
<h1>This page wil tell you something about my Mom.</h1>
<div>
    <p> My mom is very sweet person and a housewife. She is very generous women and love her family.
        She always helped me in my studies when i was young.
    </p>
</div>
<% include partial/footer.ejs%>