<% include partial/header.ejs %>

<h1>Description</h1>
<h3>This page contains  description of my family.</h3>
<div>
    <p>I am from a small family based in a city called Hoshiarpur, India. My family has five members including me. My dad is a businessman and my mom is
        a housewife. My grandma lives with us and i have one younger sibling.</p>
</div>
<div>
    Click on different tabs to know more about them.
</div>

<% include partial/footer.ejs %>