<!DOCTYPE HTML>
<html lang="en">
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Members</a></li>
        <li><a href="/Gurjeet">Gurjeet</a></li>
        <li><a href="/Jaswinder">Jaswinder(Dad)</a></li>
        <li><a href="/Tajinder">Tajinder(Mom)</a></li>
        <li><a href="/Randeep">Randeep(Me)</a></li>
        <li><a href="/Simrandeep">Simrandeep(Sister)</a></li>
    </ul>
</nav>